/* 
done:
bg image 
new font
containers
style buttons
practise flex/grid
https://images.unsplash.com/photo-1549896869-ca27eeffe4fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80

TO DO:
Media queries!!
*/

html, body {
  margin: auto 0;
  font-size: 18px;
  font-family: 'BioRhyme', serif;
}

body {
  background: 
    url(https://images.unsplash.com/photo-1549896869-ca27eeffe4fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80)
    no-repeat;                 
background-size: cover;
display: grid;
justify-items: center;
}

.container {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  width: 60vw;
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
  padding: 1rem;
  margin: 2rem 0;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.5);
	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.5);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,.5);
}

.header {
  display: inline-flex;
}

h1 {
  padding: 0 1.5rem;
  font-family: 'Monoton', cursive;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 2.8em;
}

#first {
  display: flex;
  align-self: baseline;
}

.list {
  background: rgba(247, 192, 192, 0.8);
  border-radius: 20px 100px;
  padding: 2rem;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  -webkit-box-shadow: 0 4px 6px -6px rgba(0,0,0,.5);
	-moz-box-shadow: 0 4px 6px -6px rgba(0,0,0,.5);
	box-shadow: 0 4px 6px -6px rgba(0,0,0,.5);
}

.list--header {
  align-self: center;
  padding-top: 1rem;
}

#userInput, #enter {
  padding: .5rem;
  font-size: .8em;
  border-radius: 5%;
}

#enter {
  background-color: #E15148;
  color: rgba(244, 244, 244, 0.9);
  border: #E15148;
  cursor: pointer;
  margin-top: .5rem;
}

#enter:link,
#enter:visited {
  background-color: #E15148;
  color: rgba(244, 244, 244, 0.9);
  border: #E15148;
}

#enter:hover,
#enter:active {
  background-color: rgba(225, 82, 72, 0.80);
  color: #f4f4f4;
  border: rgba(225, 82, 72, 0.80);
}

ul {
  text-align: right;
  list-style-type: none;
}

li {
  padding-top: .5rem;
  cursor: pointer;
}

button {
  margin-left: 1rem;
  margin-bottom: .5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: .5rem .3rem;
  cursor: pointer;
  border-radius: 30px;
}


.done {
  text-decoration: line-through;
}

.footer {
  font-size: .7em;
  letter-spacing: 1px;
}
